body {
  display: flex;
  margin: 0;
  flex-direction: column;
  background-color: #1b1b1b;
}

small,
h1,
h2,
h3 {
  color: white;
}

h3 {
  font-family: "Lemon", serif;
  font-size: 32px;
}

.navbar {
  width: auto;
  height: 54px;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  align-items: center;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: #f2e7f3;
  border-bottom: #1b1b1b solid 0.5px;
}

.navbar > div > ul {
  list-style: none;
  display: flex;
}

.navbar > div > ul > li > a > small {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: black;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.navbar > h1 {
  margin-left: 25px;
  font-size: 235x;
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-family: "Lemon", serif;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.T2 {
  background-color: #385e41;
  height: 60px;
  align-items: center;
  display: flex;
  margin-bottom: none;
}

.T {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.text {
  background-color: #f2e7f3;
  margin-left: 20px;
  padding-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  margin-top: none;
  margin-bottom: 10px;
}

#tematb2-1 {
  margin-top: 50px;
}

h4 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

span {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: 300;
}

p {
  color: rgb(163, 27, 122);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 33px;
}

.p {
  color: rgb(163, 27, 122);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 23px;
  text-transform: uppercase;
}

.bp {
  list-style-type: none;
}

.pp {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 23px;
  text-transform: uppercase;
}
